
.stats-container-main {
        display: flex;
        justify-content: center;
        height: 400px;
        align-items: center;
        text-align: center;
}
.stats-container {
margin: 20px;
background-color: #fff;
min-width: 200px;
height: 220px;
border-radius: 12px 12px 0 0;
position: relative;
padding: 20px;
/* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
}
.stats-container.orange {
border-bottom: 5px solid #fca311;
}
.stats-container.blue {
border-bottom: 5px solid #0096c7;
}
.stats-container.red {
border-bottom: 5px solid #e63946;
}
.stats-container i {
        font-size: 80px;
}
.stats-container.orange i {
color: #fca311;
}
.stats-container.red i {
color: #e63946;
}
.stats-container.blue i {
color: #0096c7;
}

.stats-container h4 {
position: absolute;
bottom: 1px;
font-weight: 400;
left: 50%;
transform: translateX(-50%);
white-space: nowrap;
font-size: 20px;
}

.counter {
        font-size: 55px;
        font-weight: 100;
        padding-top: 10px;
}

/* .icon {
position: absolute;
top: -30px;
left: 50%;
transform: translateX(-50%);
} */












@media (max-width: 800px) {
body {
        flex-direction: column;
}
}